<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>SGP.SI · Singapore PSI at a Glance</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="image_src" href="thumbnail.png">
  <!-- build:css({.tmp,app}) main.css -->
  <link rel=stylesheet href=main.css>
  <!-- endbuild -->
{{#if production}}
  <style>{{mediaQueries}}</style>
{{/if}}
<body>
<div class=readings>
  <span class="psi3 header">3-HR PSI</span>
  <span class="psi3 value {{psiclass psi.psi3}}">{{psi.psi3}}</span>
  <span class="psi24 header">24-HR PSI</span>
  <span class="psi24 range {{psiclass psi.psi24}}">{{psi.psi24}}</span>
  <span class="pm25 header">24-HR PM2.5</span>
  <span class="pm25 range {{pm25class psi.pm25}}">{{psi.pm25}}</span>
  <span class="date time">{{moment psi.date "D MMM YYYY @ h A"}}</span>
</div>
{{#if production}}
<div class="social-buttons">
  <iframe frameborder="0" src="//platform.twitter.com/widgets/tweet_button.html?hashtags=sghaze&amp;url=http%3A%2F%2Fsgp.si&amp;via=SingaporePSI&amp;text={{#encodeURIComponent}}3-hour PSI is {{psi.psi3}}. 24-hour PSI is {{removeSpaces psi.psi24}}. 24-hour PM2.5 is {{removeSpaces psi.pm25}} µg/m³. Issued {{moment psi.date "ha"}}.{{/encodeURIComponent}}"></iframe>
  <iframe frameborder="0" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FSingaporePSI&amp;layout=button_count"></iframe>
  <div class="fb-share-button" data-href="http://sgp.si/" data-type="button_count"></div>
</div>
<a class=twitter-timeline href="https://twitter.com/search?q=%23sghaze" data-widget-id=350980277922840576
   data-chrome="noborders noscrollbar">Tweets about "#sghaze"</a>
<div id="fb-root"></div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-42454393-1', 'sgp.si');
  ga('send', 'pageview');
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=615668495170315";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
{{else}}
<script>
  setTimeout(function () {
    var MIN_WIDTH = 80;
    var MAX_WIDTH = 720;
    var WIDTH_STEP = 20;
    var BOTTOM_MARGIN = 10;

    var mediaQueries = [];
    var readings = document.querySelector('.readings');
    var spans = document.querySelectorAll('.readings > span');
    var style = document.createElement('style');

    for (var targetWidth = MIN_WIDTH; targetWidth <= MAX_WIDTH; targetWidth += WIDTH_STEP) {
      var styleRules = '';

      for (var i = 0; i < spans.length; i++) {
        var span = spans[i];
        span.style.display = 'inline-block';

        var fontSize = Math.round(parseFloat(window.getComputedStyle(span).fontSize) * targetWidth / span.clientWidth);
        span.style.fontSize = fontSize + 'px';
        var diff = targetWidth - span.clientWidth;

        if (diff) {
          var step = diff > 0 ? 1 : -1;
          while (true) {
            span.style.fontSize = fontSize + step + 'px';
            var newDiff = targetWidth - span.clientWidth;
            if (Math.abs(newDiff) > Math.abs(diff)) {
              span.style.fontSize = fontSize + 'px';
              break;
            }
            fontSize += step;
            diff = newDiff;
          }
        }

        var spaces = span.textContent.split(' ').length - 1;
        var spacing = Math.round((targetWidth - span.clientWidth) / (spaces || span.textContent.length));
        span.style[(spaces ? 'word' : 'letter') + 'Spacing'] = spacing + 'px';

        span.style.display = '';
        styleRules += '.' + span.classList[0] + '.' + span.classList[1] +
            '{' + span.style.cssText.replace(/; $| /g, '').replace(/:0px/g, ':0') + '}';
      }

      mediaQueries.push({
        minWidth: targetWidth,
        minHeight: readings.clientHeight,
        styleRules: styleRules
      });

      for (i = 0; i < spans.length; i++) {
        spans[i].removeAttribute('style');
      }
    }

    for (i = 0; i < mediaQueries.length; i++) {
      if (mediaQueries[i].minHeight > 600) {
        style.textContent += mediaQueries[i - 1].styleRules;
        break;
      }
    }
    style.textContent += '@media (min-width:0) and (min-height:0){' + mediaQueries[0].styleRules + '}';
    for (i = 1; i < mediaQueries.length; i++) {
      style.textContent += '@media (min-width:' + mediaQueries[i].minWidth + 'px) and (min-height:' +
          (mediaQueries[i].minHeight + BOTTOM_MARGIN) + 'px){' + mediaQueries[i].styleRules + '}';
    }

    document.head.appendChild(style);

    if (typeof window.callPhantom === 'function') {
      window.callPhantom(document.getElementsByTagName('style')[0].textContent);
    }
  }, 500);
</script>
{{/if}}
